@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 100%;
    background-color: variables.$c-bg-body;
    height: 10000px;
}

.wrapper {
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    left: 0;
}

.wrapper.active {
    left: -400px;
} 

// .container {
//     max-width: 1200px;
//     width: 100%;
//     padding-left: 15px;
//     padding-right: 15px;
//     margin: 0 auto;
// }